body {
  background-image: url(images/maxresdefault.jpg);
  margin: 24px;
  background-size: cover;
  backdrop-filter: blur(5px);

}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding-left: 36%;
  padding-top: 0%;
  border-radius: 30px;
  background: hwb(0 36% 27% / 0);
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.timer__part {
  font-size:200px;
  font-weight: bold;
  color: white;
}

.timer__btn {
  width: 75px;
  height: 75px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}

h1 {
  text-align: center;
  font-size: 150px;
  color: #e5f3e5;
}

p {
  display: inline-block;
  color: #e5f3e5;
  text-align: left;
 
}